.searchPage{
  background-color: #E9E5D6;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.resultsPage{
  background-color: #E9E5D6;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.logo{
  padding-bottom: 2%;
  width: 70%;
  align-content: center;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.logo_2{
  width: 30%;
  padding-left: 2%;
}

.form_2{
  width:95%;
  padding-left: 2%;
}

.title{
  padding: 10px;
  padding-bottom: 2%;
  font-size: 24px;
}

.description{
  padding: 10px;
}

.all-results{
  width: 100%;
  padding-top: 2%;
  padding-left: 2%;
}

.animation{
  height: 50px;
}

.marquee{
  -webkit-animation: rightThenLeft 4s linear;
}

.link {
  color: inherit;
  text-decoration: none;
}

.dropdown{
  padding-left: 2%;
  padding-top: 5px;
  float: left;
}

.note{
  position: relative;
  padding-right: 2%;
  width: 70%;
  margin-left: auto; 
  margin-right: 0;
  text-align: right;
  color: #362706; 
  
}

.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.wiki-bot{
  width: 95%;
  height: auto;
  box-sizing:border-box;
  color: #362706;
  padding: "5px";
}

.boxes {
  --b:3px;   /* thickness of the border */
  --c:#9FBBA5;   /* color of the border */
  --w:20px;  /* width of border */
  

  border:var(--b) solid transparent; /* space for the border */
  --g:#0000 90deg,var(--c) 0;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
  background-size:var(--w) var(--w);
  background-origin:border-box;
  background-repeat:no-repeat;
  
  /*content*/
  width: 95%;
  height: auto;
  box-sizing:border-box;
  color: #362706;
  padding: "5px";
}

.boxes:hover{
  background-color: #d0c7a8;
}

.dashed {
  margin-top: 2%;
  border-top: 3px dashed #9FBBA5;
}